* {
    width: 98%;
    align-items: center;
}
.containerElParque{
  margin-left: 5%;
}
.containerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.lineParque {
  background-color: black;
  width: 320px;
  height: 4px;
  margin-left: 5%;
}

.spaceListParque {
  font-weight: 700;
}
.spaceListParque:hover,
.spaceListParque:focus,
.spaceListParque:active {
  font-size: 20px;
}
.containerImageParque{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5;
}
.spaceTextParque{
  margin: 1%;
}